
.contacto{
   color: #fff;
   margin: 0 auto;
   &--titulo{
      @include font-size(57);
      @include line-height(72);
   }
   &--list{
      margin-top: 4em;
      margin-bottom: 5em;
      &--item{
         @include font-size(14);
         @include line-height(22);
         margin-top: 1em;

         span{
            font-family: 'carlsberg-icons';
            @include font-size(12);
            @include line-height(22);
            margin-right: .7em;
         }
      }
   }

   .input-field{
      margin-bottom: .5em;
      label{
         color: #fff;
      }
      label.active{
         color: #BC7345 !important;
      }
   }

}



.contacto--formulario--botones{
   display: flex;
   justify-content: space-between;
   margin-top: 4em;
   .boton{
      width: 47%;
   }
}


.selectCarlsberg{
   border-bottom: 1px solid #9B9B9B;
   font-family:'Carlsberg-Regular', Sans-Serif;
   position: relative;

   .selectCarlsberg--icon{
		background-color: transparent;
      display: inline-block;
      height: 100%;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      width: 60px;
      &:after{
         content:url(../img/arrow.svg);
         position: absolute;
         top: .6em;
         right: 1em;
         z-index: 2;
         pointer-events:none;
      }
   }

   .select-wrapper {
      top: -5px;

      ul{
         max-height: 350px;

         li>span{
            font-family:'Carlsberg-Regular', Sans-Serif;
            color: #0F7642;
         }

         .selected, .active{
            font-family:'Carlsberg-Regular', Sans-Serif;
         }

         .optgroup{
            span{
               font-family:'Carlsberg-Bold', Sans-Serif;
               color: #1D3126;
            }
         }
      }
   }


   .select-wrapper input.select-dropdown {
      border-bottom: none;
      box-sizing: border-box;
      margin-bottom: 0;
      padding-left: .2em;
   }

   .select-wrapper span.caret{
      right: 20px;
      display: none;
   }

}


.contacto--formulario--check{
   margin-top: 3em;

   label{
      color: #fff;
   }
}




/* Estos estilos sobreEscriben los del framework */

input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus,
input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus,
input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus,
input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #BC7345 !important;
    -webkit-box-shadow: 0 1px 0 0 #BC7345 !important;
    box-shadow: 0 1px 0 0 #BC7345 !important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),{
    border-bottom: 1px solid #BC7345 !important;
    -webkit-box-shadow: 0 1px 0 0 #BC7345 !important;
    box-shadow: 0 1px 0 0 #BC7345 !important;
}


[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
   border: 2px solid #fff;
}

[type="checkbox"]:checked+label:before {
   border-right: 2px solid #BC7345 ;
   border-bottom: 2px solid #BC7345 ;
}
