body{
   background: rgba(16,93,48,1);
   background: -moz-radial-gradient(center, ellipse cover, rgba(16,93,48,1) 0%, rgba(0,50,27,1) 78%, rgba(0,50,27,1) 100%);
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(16,93,48,1)), color-stop(78%, rgba(0,50,27,1)), color-stop(100%, rgba(0,50,27,1)));
   background: -webkit-radial-gradient(center, ellipse cover, rgba(16,93,48,1) 0%, rgba(0,50,27,1) 78%, rgba(0,50,27,1) 100%);
   background: -o-radial-gradient(center, ellipse cover, rgba(16,93,48,1) 0%, rgba(0,50,27,1) 78%, rgba(0,50,27,1) 100%);
   background: -ms-radial-gradient(center, ellipse cover, rgba(16,93,48,1) 0%, rgba(0,50,27,1) 78%, rgba(0,50,27,1) 100%);
   background: radial-gradient(ellipse at center, rgba(16,93,48,1) 0%, rgba(0,50,27,1) 78%, rgba(0,50,27,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#105d30', endColorstr='#00321b', GradientType=1 );
   height: auto;
}


.header{
   margin-top: 2em;
   text-align: center;
   &--logotipo{
      margin: 0 auto;
      width: 200px;
   }
   &--slogan{
      @include font-size(18);
      margin-top: .3em;
   }
}


.Logotipo{
   max-width: 340px;
   margin: 5em auto 7em auto;
}


.boton{
   background-color: transparent;
   outline: 1px solid #fff;
   color: #fff;
   font-family: 'Carlsberg-Bold';
   @include font-size(24);
   @include line-height(28);
   padding: .6em;
   text-align: center;
   transition: all .3s ease-out;
   width: 100%;
   &:hover, &:focus{
      background-color: #fff;
      color: #1D3126;
      outline: 1px solid #fff;
   }
}

button.boton{
   border: none !important;
}
