doctype html
head
	meta(charset="utf-8")
	meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
	title Bicicleta Carlsberg
	include templates/head
body
	header.header
		figure.header--logotipo
			img(src="img/logotipo.svg", alt="Logotipo Carlsberg")
		p.header--slogan Probablemente la mejor cerveza del mundo

	section.bicicleta 
		h2.bicileta--titulo Probablemente el mejor 
			br 
			| medio de transporte
		figure.bicicleta--bicicleta
			img(src="img/bicicleta.png", alt="Bicicleta Carlsberg")

		h2.bicileta--titulo.bicileta--titulo__last ¡Gana una increíble 
			br
			| bicicleta Carlsberg!
			
	figure.Logotipo
		img(src="img/logotipo.svg", alt="Logotipo Carlsberg")
		
			
	include templates/footer
