doctype html
head
	meta(charset="utf-8")
	meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
	title Bicicleta Carlsberg
	include templates/head
body
	header.header.wow.slideInDown
		figure.header--logotipo
			img(src="img/logotipo.svg", alt="Logotipo Carlsberg")
		//p.header--slogan Probablemente la mejor cerveza del mundo

	include templates/bicicleta

	//- figure.Logotipo.wow.fadeInDown
	//- 	img(src="img/logotipo.svg", alt="Logotipo Carlsberg")

	include templates/modal

	include templates/contacto

	include templates/footer
