section.bicicleta 
	h2.bicileta--titulo.wow.fadeInDown(data-wow-delay=".3s") Probablemente el mejor 
		br 
		| medio de transporte
	figure.bicicleta--bicicleta
		img.wow.fadeInLeft(src="img/bicicleta.png", alt="Bicicleta Carlsberg" data-wow-delay="1s")

	h2.bicileta--titulo.bicileta--titulo__last.wow.fadeInDown ¡Gana una increíble 
		br
		| bicicleta Carlsberg!
	a.ancla(href="#contacto")
		span.ancla--mouse.icon-mouse
		span.ancla--flecha.icon-arrow-down
		p.ancla--text Ingresa tu código
	//- .bicicleta--guia.wow.fadeInDown
	//- 	span i
	//- 	h3 Ingresa tu código
