section#contacto.contacto
	.container
		.row
			.col.s12.m5.wow.fadeInLeft
				.contacto--titulo Cómo
					br
					|participar ?
				.contacto--pasos
					.row
						.col.s12.l6
							img(src="img/paso-01.png", alt="Imagen del paso uno para el concurso")
						.col.s12.l6
							img(src="img/paso-02.png", alt="Imagen del paso dos para el concurso")
						.col.s12.l6
							img(src="img/paso-03.png", alt="Imagen del paso tres para el concurso")
						.col.s12.l6
							img(src="img/paso-04.png", alt="Imagen del paso cuatro para el concurso")
				//- ul.contacto--list
				//- 	li.contacto--list--item
				//- 		span c
				//- 		| Debes ir a uno de nuestros bares en promoción
				//- 	li.contacto--list--item
				//- 		span c
				//- 		| Pide una Carlsberg y exige al mozo tu código para participar.
				//- 	li.contacto--list--item
				//- 		span c
				//- 		| Ingresa el código en este sitio y sabrás si eres el ganador.
				//- 	li.contacto--list--item
				//- 		span c
				//- 		| Debes tener la boleta de compra y el código para exigir tu premio.
				// a.boton.waves-effect.modal-trigger(href="#bases") Bases y condiciones

				ul
					li
						a.modal-trigger(id="winner" href="#ganador")
					li
						a.modal-trigger(id="loser" href="#perdedor")
					li
						a.modal-trigger(id="error" href="#error")




			.col.s12.m6.offset-m1.wow.fadeInRight(data-wow-delay=".5s")
				.contacto--formulario
					form(id='form' name='formulario' method='post' action='')
						.row
							.col.s12.l6
								.input-field
									input.validate(id='name' type='text' name='nombre' required)
									label(for='nombre') Nombre
							.col.s12.l6
								.input-field
									input.validate(id='lastName' type='text' name='apellido' required)
									label(for='apellido') Apellido
							.col.s12.l6
								.input-field
									input.validate(id='rut' type='number' name='rut' required)
									label(for='rut' data-error="ingresar rut sin puntos ni guión") Rut
							.col.s12.l6
								.input-field
									input.validate(id='phone' type='tel' name='celular' data-length="9" required)
									label(for='celular' data-error="ingresar un numero valido") Celular

						.input-field
							input.validate(id='email' type='email' name='email' required)
							label(for='email' data-error="ingrese una direccion valida") Email

						.input-field
							input.validate(id='code' type='number' name='codigo' data-length="5" required)
							label(for='codigo' data-error="ingresa un código valido") ingresa los 5 dígitos

						.selectCarlsberg
							.selectCarlsberg--icon
							.input-field
								select(id='place' required)
									option(value='' selected) En que local estás ?
									optgroup(label='Selecciona tu local')
										option(value='1') Roberta
										option(value='2') Glasgow
										option(value='3') Siam Thai
										option(value='3') Calaos
										option(value='3') Loom
										option(value='3') Dacapo
										option(value='3') Vittamina
										option(value='3') Tatto Rockers
										option(value='3') Bar Constitución
										option(value='3') St. Patrick
										option(value='3') Iris
										option(value='3') Bajo Llave
										option(value='3') Sazonarte
										option(value='3') Viña Campo ( Valparaiso )
									//- optgroup(label='Oriente')
									//- 	option(value='4') Local cuatro
									//- 	option(value='5') Local cinco
									//- 	option(value='6') Local seis

						.contacto--formulario--check
							input(type="checkbox", id="terms" name="terms", value="")
							label(for="terms") Acepto las bases y condiciones 
							a.modal-trigger(href="#bases") Ver bases

						.contacto--formulario--botones
							button.boton.boton__borrar.waves-effect(type="reset")
								| Borrar
							button.boton.waves-effect(type="submit")
								| Enviar
