footer.footer
	.container
		.footer--social
			a.footer--social--icon(href="https://www.facebook.com/CarlsbergChile/" target="_blank") 
				img.icon--img(src="img/social-facebook.png", alt="Icono facebook")
				span CarlsbergChile
			a.footer--social--icon(href="https://www.instagram.com/carlsbergchile/" target="_blank") 
				img.icon--img(src="img/social-instagram.png", alt="Icono facebook")
				span CarlsbergChile
			p.footer--social--legal Disfruta responsablemente. producto para mayoyes de 18 años.
		hr.footer--linea
		figure.footer--logotipo
			img(src="img/logotipo.svg", alt="Logotipo Carlsberg")
		p.footer--slogan Probablemente la mejor cerveza del mundo




script(src="lib/jquery/dist/jquery.min.js")
script(src="https://unpkg.com/axios/dist/axios.min.js")
script(src="lib/materialize/dist/js/materialize.min.js")
script(src="js/wow.min.js")
script(src="js/main.js")
