footer.footer
	.container
		.footer--social
			a.footer--social--icon(href="javascript:;") a
			a.footer--social--icon(href="javascript:;") w
		hr.footer--linea
		figure.footer--logotipo
			img(src="img/logotipo.svg", alt="Logotipo Carlsberg")
		p.footer--slogan Probablemente la mejor cerveza del mundo




script(src="lib/jquery/dist/jquery.min.js")
script(src="lib/materialize/dist/js/materialize.min.js")
script(src="js/wow.min.js")
script(src="js/main.js")
