.modalBases
	#bases.modal
		a.modalBases--cerrar.modal-close(href="#!")
			span.icon-icon-cerrar
		.modal-content
			.modalBases--contenido
				h4.modalBases--contenido--titulo VIÑA FRANCISCO DE AGUIRRE BASES CONCURSO 
					br
					| “BICICLETA CARLSBERG”
				p.modalBases--contenido--text.modalBases--contenido--text__item 1. Ámbito del Concurso 
				p.modalBases--contenido--text La convocatoria el concurso se difundirá sólo en los bares en que se podrá participar y eventualmente en las redes sociales de Carlsberg para Chile. La lista de bares (un total de 15) se agregará como anexo a este contrato quedando tanto la Viña Francisco de Aguirre y/o Carlsberg Chile facultados para cambiar los bares, sumar algunos extra o bien eliminar algunos de ellos durante el periodo del concurso.
				p.modalBases--contenido--text Adicionalmente se difundirán los ganadores de este concurso en todos los medios que Viña Francisco de Aguirre y/o Carlsberg Chile disponga para asegurar el mayor alcance posible en su comunicación, pudiendo incluir entre otros medios pero sin obligación alguna: radio, televisión, vía pública y puntos de venta, entre otros.
				p.modalBases--contenido--text.modalBases--contenido--text__item 2. Participantes
				p.modalBases--contenido--text Podrán participar en el Concurso aquellos consumidores mayores de 18 años, chilenos o extranjeros con residencia en el territorio continental chileno y que hayan cumplido con la mecánica de este concurso la cual se define en el apartado 3 de estas bases, en adelante, los “Participantes”. El requisito etario deberá comprobarse mediante la presentación de la cédula nacional de identidad o cédula de identidad para extranjeros, según corresponda, lo que será un requisito esencial al momento de recibir el premio.
				p.modalBases--contenido--text.modalBases--contenido--text__item 3. Mecánica y Descripción del Concurso
				p.modalBases--contenido--text Durante la vigencia del Concurso, quienes compren Cerveza Carlsberg en los locales adheridos a este concurso, recibirán de parte del mozo o alguien en el bar, un cupón con un código impreso, el cuál deberán ingresar en el sitio web www.bicicletacarlsberg.cl
				p.modalBases--contenido--text Una vez ahí deben registrar sus datos completos y el número de código que recibieron del comercio donde han comprado ese producto. En ese mismo momento sabrán si han sido los ganadores del premio que se describe en el apartado número 4 de estas bases.
				p.modalBases--contenido--text El participante puede ingresar tantos códigos como quiera, entendiendo que éstos se le entregarán en condición de uno por cada Cerveza Carlsberg que pida en el local.
				p.modalBases--contenido--text Es requisito mandatorio e ineludible que el cupón sea ingresado en el mismo momento en que fue recepcionado. En el mismo local. Para este efecto el concurso cuenta con un sitio web responsivo disponible siempre y en  todo momento para validar los códigos del concurso.
				p.modalBases--contenido--text Al momento de acceder al sistema e ingresar sus datos, se entiende que acepta estas bases y condiciones y autoriza a Viña Francisco de Aguirre indeclinablemente y sin posibilidad a reclamos posteriores de ningún tipo, para utilizar sus datos e imagen como parte de la campaña en todos los medios que se dispongan para la difusión de los participantes.
				p.modalBases--contenido--text Sólo podrán participar, y por consiguiente hacerse acreedores del premio señalado en el numeral 4. siguiente, las personas mayores de 18 años que cumplan con los requisitos establecidos en las presentes bases, y que cumplan con las condiciones señaladas durante la vigencia del concurso, las cuales están definidas en las presentes bases que estarán disponibles en www.bicicletacarlsberg.cl
				p.modalBases--contenido--text.modalBases--contenido--text__item 4. Premios y Requisitos
				p.modalBases--contenido--text Viña Francisco de Aguirre dispone de 15 bicicletas modelo “Carlsberg” para ser entregadas aleatoriamente entre quienes participen de este concurso.
				p.modalBases--contenido--text Habrá una de ellas en cada uno de los 15 bares que están adheridos a este concurso.
				p.modalBases--contenido--text El participante deberá estar en el local al momento de ingresar sus datos y comprobar en el sitio web que ha sido su código el favorecido con el premio, el cuál podrá recibir mostrando su código ganador y la boleta de consumo y/o comanda del mozo en caso de aún no haber cerrado la cuenta de su mesa.
				p.modalBases--contenido--text En caso de no acreditarse por los Participantes Ganadores el hecho de ser mayores de edad al momento de la entrega de los premios, o no haber cumplido con los requisitos de las presentes bases, dará derecho a Viña Francisco de Aguirre a descalificarlos y disponer libremente del premio.
				p.modalBases--contenido--text Los ganadores serán escogidos al azar, entre todas las personas que cumplan con las instrucciones dadas en estas bases
				p.modalBases--contenido--text Queda establecido en las presentes bases que todo gasto no incluido en los premios será de exclusivo costo y responsabilidad del Participante Ganador, por lo que todo otro gasto, futuras contribuciones e impuestos inherentes a los premios, su uso y goce, incluyendo, sin que la enumeración siguiente sea taxativa sino meramente ejemplar, seguros e indemnizaciones de cualquier tipo, impuestos, etc., serán de cuenta y cargo del Participante Ganador, como también todos los gastos de traslado para reclamar y/o recibir el Premio.
				p.modalBases--contenido--text Cualquier mal uso de la plataforma digital del concurso y/o redes sociales de Carlsberg Chile, será penalizado con la descalificación del concurso, incluyendo la publicación de contenidos inapropiados, ofensivos, discriminatorios y/o que atenten contra la imagen de Carlsberg o sus productos.
				p.modalBases--contenido--text Se deja expresa constancia que los Participantes Ganadores liberan y eximen de toda responsabilidad al patrocinador y al implementador respecto de cualquier reclamo, acción o denuncia de cualquier naturaleza que diga relación con el uso, calidad, aptitud o goce del Premio.
				p.modalBases--contenido--text Se hace presente que la entrega de los Premios se sujetará a una fecha, hora y lugar a convenir siendo esta no anterior a la fecha de cierre del concurso. En el caso de no haber stock suficiente al hacerse la entrega de los Premios, se entregará otro producto de similar valor y características.
				p.modalBases--contenido--text.modalBases--contenido--text__item 5. Sorteo de los Premios
				p.modalBases--contenido--text El sorteo será automatizado y funciona a través del sitio web www.bicicletacarlsberg.cl donde los participantes deben ingresar sus datos y el código que han recibido al momento de pedir una Carlsberg en los locales adheridos.
				p.modalBases--contenido--text Automáticamente los paticipantes sabrán si son ganadores o no.
				p.modalBases--contenido--text En caso de ser ganadores, el sitio web los notificará de inmediato y serán contactados para coordinar la fecha de entrega del premio de acuerdo a lo definido en el punto 4 de las siguientes bases.
				p.modalBases--contenido--text En caso de no ser ganadores, podrán seguir ingresando los restantes códigos que hayan recibido del mozo del local por cada Carlsberg que hayan pedido.
				p.modalBases--contenido--text Se deja expresa constancia que la entrega del premio se realizará sólo una vez que el Participant Ganador acredite, mediante la exhibición de su cédula de identidad, el hecho de ser mayor de 18 años.
				p.modalBases--contenido--text Los premios sólo podrán exigirse en el plazo establecido en las presentes Bases. Con todo, los Patrocinantes podrán establecer plazos distintos tanto para el sorteo como para el canje del Premio del Concurso cuando así lo estimasen necesario por causas no imputables a los mismos, de lo cual se informará a los Participantes.
				p.modalBases--contenido--text.modalBases--contenido--text__item 6. Entrega de premios
				p.modalBases--contenido--text Una vez que el concurso haya terminado, Viña Francisco de Aguirre tendrá un plazo máximo de tres  semanas para coordinar con los ganadores el retiro de los premios dentro de Santiago.
				p.modalBases--contenido--text.modalBases--contenido--text__item 7. Publicación de las Bases
				p.modalBases--contenido--text Las presentes bases serán publicadas en el sitio web de la promoción www.bicicletacarlsberg.cl entendiéndose que los Participantes las aceptan por el sólo hecho de seguir las instrucciones.
				p.modalBases--contenido--text.modalBases--contenido--text__item 8. Plazo del Concurso
				p.modalBases--contenido--text La duración del concurso contenido en estas bases comenzará el día Viernes 17 de noviembre 2017 y terminará el Domingo 31 de diciembre del presente año. Ambas fechas inclusive. 
				p.modalBases--contenido--text Sin perjuicio de lo anterior, Viña Francisco de Aguirre podrá extender el plazo de duración del concurso cuando a su juicio exclusivo lo estime conveniente. Para estos efectos, deberá protocolizar un anexo que contenga la modificación de las bases en la misma notaría en que éstas fueron protocolizadas, especificando los nuevos términos y condiciones en los cuales se pretende extender el Concurso. 
				p.modalBases--contenido--text Así mismo se deja constancia de que podría ocurrir que no estén todos los locales adheridos a este concurso implementados desde el primer día, pero que se irán sumando  desde el día de inicio del concurso y a medida que avance el periodo de concurso. No obstante, la fecha de termino del concurso será para todos la especificada en párrafos anteriores independientemente de cuándo se hayan sumado al concurso.
				p.modalBases--contenido--text.modalBases--contenido--text__item 9. Condiciones Generales
				p.modalBases--contenido--text Sólo podrán recibir los premios aquellos Participantes Ganadores que cumplan con las condiciones señaladas en las presentes bases.
				p.modalBases--contenido--text No serán considerados para participar en el concurso los participantes menores de 18 años ni aquellos que no participen a través de www.bicicletacarlsberg.cl
				p.modalBases--contenido--text Los Patrocinantes no serán responsables de los daños o perjuicios, de cualquier naturaleza, que se pudieren producir como consecuencia o en relación al uso del premio por parte de  los Participantes y/o usuarios.
				p.modalBases--contenido--text Asimismo, se deja expresa constancia que las opiniones que proporcionen y publiquen  los usuarios en la página web del Concurso no reflejan necesariamente la opinión de los Patrocinadores.
				p.modalBases--contenido--text.modalBases--contenido--text__item 10. Prohibición
				p.modalBases--contenido--text No podrán participar en el Concurso las directivas o trabajadores, tanto permanentes como temporales, de Viña Francisco de Aguirre, Carlsberg Chile o demás filiales de éstas, ni los dependientes de la Agencia o de las empresas que tengan participación directa en la elaboración de este concurso, ni tampoco sus cónyuges, parientes por afinidad y consanguinidad en toda la línea recta y en la colateral hasta el segundo grado inclusive.
				p.modalBases--contenido--text.modalBases--contenido--text__item 11. Autorización
				p.modalBases--contenido--text Los Participantes en el Concurso autorizan desde ya a los Patrocinadores para difundir sus nombres e imágenes en los medios de comunicación sin derecho a compensación alguna por ello. Asimismo, facultan a Viña Franscisco de Aguirre para exhibir dichas imágenes, en los medios en la forma y plazo que los Patrocinadores estime conveniente.
				p.modalBases--contenido--text En caso de que los Patrocinadores así lo requieran, los Participantes Ganadores deberán presentarse en cualquier momento y al sólo requerimiento de los Patrocinadores para la filmación de comerciales de televisión o para la toma de sesiones fotográficas.
				p.modalBases--contenido--text Los Ganadores se comprometen a prestar toda su colaboración con el objeto de favorecer la difusión de dicho acontecimiento por los medios que los Patrocinadores determinen, a favor de la necesaria transparencia que exige la fe pública. De esta forma, será condición para recibir y hacer efectivo el premio, que los Participantes Ganadores participen de las actividades, promociones, eventos, programas o difusión que los Patrocinadores determinen.
				p.modalBases--contenido--text.modalBases--contenido--text__item 12. Términos y Condiciones
				p.modalBases--contenido--text Por el sólo hecho de participar en el presente concurso, se entiende que los Participantes conocen y aceptan los términos y condiciones que se establecen en estas bases.
				p.modalBases--contenido--text Los premios solo serán canjeables en la forma indicada en las presentes bases.
				p.modalBases--contenido--text Los Patrocinadores se reservan el derecho de modificar las bases de este Concurso en forma total o parcial, pudiendo entre otros, modificar su vigencia, los premios incluidos en el Concurso y sus condiciones o terminar anticipadamente el Concurso, informando de todo ello previamente a los consumidores, o al Participante Ganador, según sea el caso.
				p.modalBases--contenido--text La modificación total o parcial de las presentes bases no generará responsabilidad ni compensaciones a favor de terceros o de los Participantes.
				p.modalBases--contenido--text.modalBases--contenido--text__item 13. Responsabilidad
				p.modalBases--contenido--text Se deja constancia de que todo gasto no incluido en los premios será de exclusivo costo y responsabilidad de los Participantes Ganadores.
				p.modalBases--contenido--text Los Patrocinadores no se hacen responsables de que una vez cumplida la fecha de término del Concurso siga circulando publicidad con referencia a éste, situación que es conocida y aceptada por todos los participantes en el mismo.
				p.modalBases--contenido--text Asimismo, los Patrocinadores no se hacen responsables si los Participantes Ganadores no pudieran hacer uso y goce efectivo de sus premios, ya sea por motivos de salud (enfermedad o accidente), por incapacidad física, por asuntos laborales o personales o por cualquier otra causa.
				p.modalBases--contenido--text La no reclamación en el momento de la entrega de los premios, implicará la aceptación de parte de los Participantes Ganadores, del perfecto cumplimiento del concurso, razón por la cual, los Participantes Ganadores, según corresponda, renuncian a cualquier reclamo posterior o acción de cualquier naturaleza en contra de los Patrocinadores. En consecuencia, una vez entregado el Premio, no habrá derecho a reclamo posterior de ninguna especie.
				p.modalBases--contenido--text El patrocinador y el Implementador  no serán responsables ante eventos de caso fortuito o fuerza mayor, tales como fallas de equipos, errores de sistema computacional, errores en las plataformas de redes sociales u otros, que pudieran afectar el ingreso de datos o acceso del Concurso.
				p.modalBases--contenido--text.modalBases--contenido--text__item 14. Protocolización
				p.modalBases--contenido--text Una copia de la protocolización de estas Bases se mantendrá en las oficinas de Viña Francisco de Aguirre S.A. ubicadas en XXXXXXXXXXXXXXXXXXXX. Las Bases estarán publicadas en la página www.bicicletacarlsberg.cl mientras dure el periodo de vigencia del Concurso.

.modalCarlsberg
	#perdedor.modal
		a.modalCarlsberg--cerrar.modal-close(href="#!")
			span.icon-icon-cerrar

		.modal-content
			.modalCarlsberg--contenido.modalCarlsberg--contenido__left
				figure.modalCarlsberg--contenido--imagen
					img(src="img/botella.png", alt="Imagen de la bicicleta Carlsberg")

			.modalCarlsberg--contenido
				span.modalCarlsberg--contenido--icon.icon-icon-perdedor
				p.modalCarlsberg--contenido--titulo Lo sentimos ..
				p.modalCarlsberg--contenido--text No has ganado una bicicleta, pero puedes seguir intentando e ingresar todos los códigos que quieras.
				a.modalCarlsberg--contenido--boton.waves-effect.modal-close(href="#!") volver a intentar
				
				
.modalCarlsberg.modalCarlsberg__edad
	#edad.modal
		// a.modalCarlsberg--cerrar.modal-close(href="#!")
			span.icon-icon-cerrar

		.modal-content
			.modalCarlsberg--contenido.modalCarlsberg--contenido__left
				figure.modalCarlsberg--contenido--imagen
					img#img-edad(src="img/botella.png", alt="Imagen de la bicicleta Carlsberg")
				p.modalCarlsberg--contenido--alert.animated.fadeInUp Lo sentimos, este sitio es solo para mayores de 18 años

			.modalCarlsberg--contenido
				// span.modalCarlsberg--contenido--icon.icon-icon-perdedor
				p.modalCarlsberg--contenido--titulo Hola
				p.modalCarlsberg--contenido--text Antes de ingresar al sitio y poder concursar, necesitamos saber si eres mayor de 18 años ?
				a#btn-menor.modalCarlsberg--contenido--boton.waves-effect(href="#!") Soy menor
				a.modalCarlsberg--contenido--boton.waves-effect.modal-close(href="#!") Soy mayor


.modalCarlsberg.modalCarlsberg__ganador
	#ganador.modal
		a.modalCarlsberg--cerrar.modal-close(href="#!")
			span.icon-icon-cerrar

		.modal-content
			.modalCarlsberg--contenido.modalCarlsberg--contenido__left
				figure.modalCarlsberg--contenido--imagen
					img.imagen__ganador(src="img/bicicleta-modal.png", alt="Imagen de la bicicleta Carlsberg")

			.modalCarlsberg--contenido
				span.modalCarlsberg--contenido--icon.icon-icon-ganador
				p.modalCarlsberg--contenido--titulo Felicitaciones .!!
				p.modalCarlsberg--contenido--text Guarda tu cupón y contacta al jefe de local para que coordinemos la entrega de tu premio.
				a.modalCarlsberg--contenido--boton.waves-effect.modal-close(href="#!") volver a intentar
            

.modalCarlsberg.modalCarlsberg__error
	#error.modal
		a.modalCarlsberg--cerrar.modal-close(href="#!")
			span.icon-icon-cerrar

		.modal-content
			.modalCarlsberg--contenido.modalCarlsberg--contenido__left
				figure.modalCarlsberg--contenido--imagen
					img.imagen__error(src="img/icon-error.png", alt="Imagen de la bicicleta Carlsberg")

			.modalCarlsberg--contenido
				span.modalCarlsberg--contenido--icon.icon-icon-error
				p.modalCarlsberg--contenido--titulo Error
				p.modalCarlsberg--contenido--text El código ingresado no existe en nuestra base de datos o bien ya fue ingresado por otro usuario.
				a.modalCarlsberg--contenido--boton.waves-effect.modal-close(href="#!") volver a intentar
